* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.contenedor {

    display: flex;

}


.caja1 {
   
    color: white;
    background-color: black;
    /* overflow-x: auto; */
  
    

}

.caja2 {

    color: white;
    text-align: center;
    background-color: red;
    
    

}

.caja3 {

    background-color: green;

}

/* .caja4 {

    border-radius: 80px;

} */