*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


body {
    background-color: black;
    color: white;
    
}

header {

   
    margin-bottom: 15px;

}

nav {
    display: flex;
    height: 40px;
}

.nav-links {
    display: flex;
}

.nav-links li{
    margin-right: 10px;
    list-style: none;
}

.nav-links a{
    margin-right: 10px;
    text-decoration: none;
}

#logo {
    margin-left: 15px;
    margin-right: 50px;
}

main {

    background-image: url(../img/banner-bg.jpg);
    background-size: cover;
    text-align: center;
    height: 90vh;
    margin-bottom: 50px;
    align-items: center;
}
